Q1. Using Python script as a calculator
Create the variables n, r, p and assign them values 10, 5, and 100 respectively. Then
evaluate the following expression in the Python console.
ùê¥ = ùëù (1 + ùëü/ 100)n
a. 100
b. 162.89 (Correct answer)
c. 189
d. None of the above


Q2. In a given string format operation, how will you print the given string.
A = 10
B = 20
Str = "There are {} students in the class, with {} who play at least one sport."
a. print(string.format(a,b))
b. print(string+a+b)
c. print(string.format(b,a)) (Correct answer)
d. None of the above


Q3. In a given sample string, How do you print a double quoted string in between a
regular
string using the escape character?
Sample output = It goes without saying, ‚ÄúTime is Money‚Äù, and none can deny it.
a. print(‚ÄúIt goes without saying, \‚ÄúTime is Money\‚Äù, and none can deny it.‚Äù) (Correct answer)
b. print(‚ÄúIt goes without saying, \Time is Money\, and none can deny it.‚Äù)
c. print(‚ÄúIt goes without saying‚Äù + ‚ÄúTime is Money‚Äù + ‚Äúand none can deny it.‚Äù)
d. None of the above.


Q4. What will be the output of the following code?
x = lambda a,b: a//b
x(10,3)
a. 3.3333333333
b. 3 (Correct answer)
c. 30
d. 1000


Q5. What will be the output of the following code?
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")
a. True
b. Smaller
c. Greater (correct answer)
d. None of the above


Q6. What will be the output of the following code?
a. [2 7 3 5 4 6]
b. TypeError
c. NameError: name 'numpy' is not defined
d. None of the above (Correct answer)


Q7. Create a string called ‚Äòstring‚Äô with the value as ‚ÄúMachine Learning‚Äù. Which code(s)
is/are appropriate to slice the substring ‚ÄúLearn‚Äù?
a. string[slice(13,8,1)] (Correct answer)
b. string[slice(1,8,1)]
c. string[8:14]
d. string[slice(8,13,1)]


Q8. Create a sequence of numbers from 10 to 25 and increment by 4. What is the index
of the
value 18?
a. 3
b. 2 Correct answer
c. 0
d. 1


Q9. Which of the following is true with respect to the below codes?
a. num1 = num2
b. num1 ‚â† num2
c. num1 < num2
d. num1 > num2
Iam getting a name error when running the code. Please change the originalcode accordingly

Q10.A Python NameError exception is raised when: -
a. Trying to access a variable which has not been defined (Correct answer)
b. Trying to access a key in a dictionary that does not exist
c. Accessing a column with misspelled column name
d. Accessing the function from a module that has not been imported


Q11.What type of exception will be raised for the code given below?
a. NameError
b. KeyError
c. ValueError (Correct answer)
d. AttributeError


Q12.A FileNotFoundError exception is raised by operating system errors when: -
a. Trying to create a file or directory which already exists
b. A file or directory is requested but does not exist in the working directory (Correct answer)
c. Trying to run an operation without the adequate access rights
d. A directory operation, os.listdir() is requested on something which is not a
directory


Q13.Consider a variable Z. The value of Z is "ID-5632". Data type of Z is: -
a. Complex
b. Character (Correct answer)
c. Integer
d. Boolean


Q14.Which of the following variable(s) are character data type?
a. K= ‚Äú4‚Äù
b. J= ‚ÄúWelcome‚Äù
c. L= ‚Äú?‚Äù
d. All of the above (Correct answer)


Q15.Choose the symbol/s that does not have the ability to convert any values to string?
a. ( )
b. ‚Äú ‚Äù
c. {}
d. # Correct answer)


Q16.Create a dictionary ‚ÄòCountry‚Äô that maps the following countries to their capitals
respectively:
Country India China Japan Qatar France
State Delhi Beijing Tokyo Doha Marseilles
Find 2 commands to replace ‚ÄúMarseilles‚Äù with ‚ÄúParis‚Äù is:


Q17. Create the tuples given below
tuple_1 = (1,5,6,7,8)
tuple_2 = (8,9,4)
Identify which of the following code does not work on a tuple.
a. sum(tuple_1)
b. len(tuple_2)
c. tuple_2 + tuple_1
d. tuple_1[3] = 45 (Correctanswer)


Q18. How many elements in the following data structure? --- Answer- 6


Q19.Write a function which finds all pythagorean triplets of triangles whose sides are no
greater than a natural number N

In [2]:
p = 100
r = 5
n = 10
A = p * (1 + r / 100) ** n
print(A)

162.8894626777442

In [4]:
A = 10
B = 20
string = "There are {} students in the class, with {} who play at least one sport."
print(string.format(B, A))

There are 20 students in the class, with 10 who play at least one sport.

In [6]:
print("It goes without saying, \"Time is Money\", and none can deny it.")

It goes without saying, "Time is Money", and none can deny it.

In [8]:
x = lambda a,b: a//b
x(10,3)

3

In [10]:
A = 10
B = 12
print("Smaller") if A == B else print("Greater") if A < B else print("True")

Greater

In [12]:
Import os
import numpy as np 
my_list1=[2,7,3,5,4,6]
print (my_list1)
arr_1= numpy.(my_list, dtype = int)
print(arr_1)

SyntaxError: invalid syntax (1931933604.py, line 1)

In [20]:
num= 5**4
num2= pow(5,4)
print(num1, num2)

NameError: name 'num1' is not defined

In [23]:
x= "string"
int(x)

ValueError: invalid literal for int() with base 10: 'string'

In [35]:
Country = {"India": "Delhi", "China": "Beijing", "Japan": "Tokyo", "Qatar": "Doha", "France": "Marseilles"}
Country["France"] = "Paris"
# or
Country.update({"France": "Paris"})

In [37]:
S = {1, 2, 3, 4, 4, 4, 5, 6}
print(len(S))

6

In [39]:
#q19

def pythagorean_triplets(N):
    triplets = []
    for a in range(1, N+1):
        for b in range(a, N+1):
            for c in range(b, N+1):
                if a**2 + b**2 == c**2:
                    triplets.append((a, b, c))
    return triplets

print(pythagorean_triplets(20))

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]